<li href="" class="list-group-item for-recipe">
  <b><h4 class="list-group-item-heading" id="recipe-<%= recipe.id %>"><%= recipe.name %></h4></b>
  <span class="Ingredients" style="visibility: hidden; position: absolute;">Ingredients: <p><%= recipe.ingredients%></p></span>
  <p class="list-group-item-text little-recipe-directions">Directions: <%= recipe.directions %><span class="removal-button" style="float:right;"><%= link_to "remove", recipe, method: :delete, data: { confirm: "You sure? You will be redirected to your Recipes page after removal!" } %></span></p>
  <span class="Notes" style="visibility: hidden; position: absolute;">Notes: <%= recipe.notes%></span>
</li>
