<% @recipe = Recipe.all %>
<% @user = current_user %>

<% if @user.recipes.any? or @recipe.any? %>
    <div class="half-section col-sm-offset-1 col-md-5 service">
      <div class="panel panel-default">
        <% if @user.recipes.any? and !@recipe.any? %>
            <div class="panel-heading">
              <h3 class="panel-title"><i class="fa fa-cutlery fa-fw padIcon"></i>Recipes (<%= @user.recipes.count %>)</h3>
            </div>
            <ul class="list-group scrollable-list recipe-list">
              <% @user.recipes.each do |item| %>
                  <%= render item %>
              <% end %>
            </ul>
        <%elsif !@user.recipes.any? and @recipe.any?%>
            <div class="panel-heading">
              <h3 class="panel-title"><i class="fa fa-cutlery fa-fw padIcon"></i>Recipes (<%= @recipe.count %>)</h3>
            </div>
            <ul class="list-group scrollable-list recipe-list">
              <% @recipe.each do |item| %>
                  <%= render item %>
              <% end %>
            </ul>
        <%elsif @recipe.any? and @user.recipe.any?%>
            <div class="panel-heading">
              <h3 class="panel-title"><i class="fa fa-cutlery fa-fw padIcon"></i>Recipes (<%= @user.recipes.count + @recipe.count %>)</h3>
            </div>
            <ul class="list-group scrollable-list recipe-list">
              <% @recipe.each do |item| %>
                  <%= render item %>
              <% end %>
              <% @user.recipes.each do |item| %>
                  <%= render item %>
              <% end %>
            </ul>
        <% end %>
      </div>
    </div>
    <div class="half-section col-md-5 service" style="padding-right: 20px;">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-file-text fa-fw padIcon"></i>View Recipe</h3>
        </div>
        <div id="show-recipe">
          <div class="col-md-2 recipe-image-box" style="margin: 10px 0px 0px 10px;">

          </div>
          <div id="recipetext" class="col-md-6">
            <%= render 'recipes/show', :locals => @user.recipes%>
          </div>
        </div>
      </div>
    </div>
<%else%>
    <div class="section col-md-4">
      <h4 style="text-align: center;">You have no Recipes! Click on the "+" button to create recipes!</h4>
    </div>
<%end%>
<script type="text/javascript">
    // jQuery example
    $(document).ready(function () {
//        $("#recipetext h2").text($(".for-recipe.active h4").text());
//        $("#recipetext h4").text($(".for-recipe.active p").text());
        //for setting active state to the list views
        // $('.list-group.scrollable-list.little-food-list').find('a').addClass('active');
        $('.list-group.scrollable-list.recipe-list').find('li').on('click', function(e) {
            event.preventDefault();

            $('.scrollable-list.recipe-list li').removeClass('active');
            $(this).addClass('active');

            //for a selected item, the view food div should have the text of the selected item
            if($(this).hasClass('active')){
                var descriptionText = $(".for-recipe.active p").text()
                var removeText = $(".for-recipe.active span").text()
                $("#recipetext h2").text($(".for-recipe.active h4").text());
                $("#recipetext h4").text(descriptionText.substring(0,descriptionText.length-removeText.length));
            }


        });
    });
</script>
<%= link_to 'recipes/new_recipe', data: { toggle: "modal", target: "#ajax-modal" } do%>
    <div id="addRecipeButton">
      + <span class="showText">Add Recipe</span>
    </div>
<%end%>

<%= render 'recipes/new_recipe' %>