<% provide(:title, "Edit user") %>
<%= render 'shared/error_messages' %>
<div class="col-md-12">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
        <div class="section col-md-12 service">

          <div class="sidebar">
            <div class="sidebar-box sidebar-header"><i class="fa fa-sign-in fa-fw"></i>Update Your Profile!</div>
            <div class="sidebar-box sidebar-info">
              <form class="form-horizontal" role="form">
                <div class="form-group">
                  <div class="col-sm-12">
                    <div class="input-group margin-bottom-sm">
                      <span class="input-group-addon namebox"><i class="fa fa-user fa-fw"></i></span>
                      <%= f.text_field :name, class: 'form-control', placeholder: 'Name' %>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-12">
                    <div class="input-group margin-bottom-sm">
                      <span class="input-group-addon emailbox"><i class="fa fa-envelope-o fa-fw"></i></span>
                      <!-- <input class="form-control" type="text" placeholder="Email address"> -->
                      <%= f.text_field :email, :class => 'form-control', :placeholder => 'Email address' %>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-12">
                    <div class="input-group">
                      <span class="input-group-addon passwordbox"><i class="fa fa-key fa-fw"></i></span>
                      <!-- <input class="form-control" type="password" placeholder="Password"> -->
                      <%= f.password_field :password, :class => 'form-control', :placeholder => 'Password' %>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-10">
                    <%= f.submit "Save changes", class: "btn btn-large btn-primary", id: 'update'%>
                    <!-- <button type="submit" class="btn btn-default" style=" float: left;">Sign in</button>
                     <button type="submit" class="btn btn-default" style=" float: left; margin-left: 10px;">Create Account</button>
                     -->
                    <div class="col-sm-offset-4 checkbox" style=" float: right;">
                      <label>
                        <input type="checkbox"> Remember me
                      </label>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <%= gravatar_for @user %>
    <a href="http://gravatar.com/emails">change</a>
  </div>
</div>