<% provide(:title, @user.name) %>
<div class="row profile-bar"style="margin-left: 21.2%;">
  <aside class="span4">
    <section>
      <b><h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1></b>
    </section>
  </aside>
</div>
<% if @user.food_items.any? %>
<%= render 'food_items/list' %>

<%= render 'food_items/view_food_item' %>
<% else %>
    <h4 style="text-align: center;">You have no Food! Click on the Food page to start adding to your Smart Fridge!</h4>
<% end %>
<script type="text/javascript">
    // jQuery example
    $(document).ready(function () {
        //for setting active state to the list views
       // $('.list-group.scrollable-list.little-food-list').find('a').addClass('active');
        $('.list-group.scrollable-list.little-food-list').find('li').on('click', function(e) {
            event.preventDefault();

            $('.scrollable-list.little-food-list li').removeClass('active');
            $(this).addClass('active');

            //for a selected item, the view food div should have the text of the selected item
            if($(this).hasClass('active')){
                var descriptionText = $(".for-food.active p").text()
                var removeText = $(".for-food.active .removal-button").text();
                var caloriesText = $(".for-food.active .Calories").text();
                $("#foodtext h2").text($(".for-food.active h4").text());
                $("#foodtext h4").text(descriptionText.substring(0,(descriptionText.length-removeText.length)));
                $("#foodtext div").text($(".for-food.active div").text());
                var color = $(".for-food.active div").css( "background-color" );
                $("#foodtext div").css("background-color",color);
                $("#foodtext .Calories").text(caloriesText);
            }


        });
    });
</script>
<% @recipes = Recipe.all %>
<% if @user.recipes.any? or @recipes.any? %>
<div class="half-section col-md-4 little-margins" style="margin-left: 20%;">
  <div class="panel panel-default little-panel">
    <% if @user.recipes.any? and !@recipes.any? %>
    <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-cutlery fa-fw padIcon"></i>Recipes (<%= @user.recipes.count %>)</h3>
          </div>
          <ul class="list-group scrollable-list little-recipe-list">
            <% @user.recipes.each do |item| %>
                <%= render item %>
            <% end %>
          </ul>
    <%elsif !@user.recipes.any? and @recipes.any?%>
    <div class="panel-heading">
      <h3 class="panel-title"><i class="fa fa-cutlery fa-fw padIcon"></i>Recipes (<%= @recipes.count %>)</h3>
    </div>
       <ul class="list-group scrollable-list little-recipe-list">
      <% @recipes.each do |item| %>
          <%= render item %>
      <% end %>
       </ul>
    <%elsif @recipes.any? and @user.recipes.any?%>
        <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-cutlery fa-fw padIcon"></i>Recipes (<%= @user.recipes.count + @recipes.count %>)</h3>
        </div>
        <ul class="list-group scrollable-list little-recipe-list">
          <% @recipes.each do |item| %>
              <%= render item %>
          <% end %>
          <% @user.recipes.each do |item| %>
              <%= render item %>
          <% end %>
        </ul>
    <% end %>
  </div>
</div>
<div class="half-section col-md-4" style="padding-right: 20px;">
  <div class="panel panel-default little-panel">
    <div class="panel-heading">
      <h3 class="panel-title"><i class="fa fa-file-text fa-fw padIcon"></i>View Recipe</h3>
    </div>
    <div id="show-recipe-little">
      <div class="col-md-2 recipe-image-box" style="margin: 10px 0px 0px 10px;">

      </div>
      <div id="recipetext-little" class="col-md-6" style="position: absolute;">
        <%= render 'recipes/show', :locals => { :recipe => @user.recipes }%>
      </div>
    </div>
  </div>
</div>
<%else%>
    <div class="section col-md-4">
      <h4 style="text-align: center;">You have no Recipes! Click on the Recipes Page to create recipes!</h4>
    </div>
<%end%>
<script type="text/javascript">
    // jQuery example
    $(document).ready(function () {
//        $("#recipetext h2").text($(".for-recipe.active h4").text());
//        $("#recipetext h4").text($(".for-recipe.active p").text());
        //for setting active state to the list views
        // $('.list-group.scrollable-list.little-food-list').find('a').addClass('active');
        $('.list-group.scrollable-list.little-recipe-list').find('li').on('click', function(e) {
            event.preventDefault();

            $('.scrollable-list.little-recipe-list li').removeClass('active');
            $(this).addClass('active');

            //for a selected item, the view food div should have the text of the selected item
            if($(this).hasClass('active')){
                var descriptionText = $(".for-recipe.active .little-recipe-directions").text()
                var removeText = $(".for-recipe.active .removal-button").text()
                var ingredientsText = $(".for-recipe.active .Ingredients").text()
                var notesText = $(".for-recipe.active .Notes").text()
                $("#recipetext-little h2").text($(".for-recipe.active h4").text());
                $("#recipetext-little .linebar").html("<hr>");
                $("#recipetext-little .recipe-directions").text(descriptionText.substring(0,descriptionText.length-removeText.length));
                $("#recipetext-little .Ingredients").text(ingredientsText);
                $("#recipetext-little .Notes").text(notesText);
            }


        });
    });
</script>
