<% provide(:title, @user.name) %>
<div class="loginbut" style="text-align: center;">
  <%= link_to edit_user_path, id:"Edit user" do %>
      <i class="fa fa-pencil-square fa-fw space-icon-out" ></i>
      Update your account!
  <% end %>
</div>
<div class="row profile-bar"style="margin-left: 21.2%;">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>
<div class="half-section col-md-4 little-margins" style="margin-left: 20%;">
  <div class="panel panel-default little-panel">
    <div class="panel-heading">
      <% if @user.food_items.any? %>
          <h3 class="panel-title"><i class="fa fa-cutlery fa-fw padIcon"></i>Food (<%= @user.food_items.count %>)</h3>
          </div>
          <ul class="list-group scrollable-list little-food-list">
            <% @user.food_items.each do |item| %>
                    <%= render item %>
            <% end %>
          </ul>

      <% end %>
  </div>
</div>
<div class="half-section col-md-4">
  <div class="panel panel-default little-panel">
    <div class="panel-heading">
      <h3 class="panel-title"><i class="fa fa-file-text fa-fw padIcon"></i>View Food</h3>
    </div>
    <div id="show-food-little">
      <div class="col-md-2 food-image-box" style="margin: 10px 0px 0px 10px;">

      </div>
      <div id="foodtext" class="col-md-6">
        <% #render 'food_items/show', :locals => @fooditem = FoodItem.find(params[:id]) %>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
    // jQuery example
    $(document).ready(function () {
        //for setting active state to the list views
        $('.list-group.scrollable-list.little-food-list').find('a').on('click', function(e) {
            event.preventDefault();

            $('.scrollable-list.little-food-list a').removeClass('active');
            $(this).addClass('active');

            //for a selected item, the view food div should have the text of the selected item
            if($(this).hasClass('active')){
                $("#foodtext h2").text($(".for-food.active h4").text());
                $("#foodtext h4").text($(".for-food.active p").text());
            }


        });
    });
</script>
<div class="half-section col-md-4 little-margins" style="margin-left: 20%;">
  <div class="panel panel-default little-panel">
    <div class="panel-heading">
      <h3 class="panel-title"><i class="fa fa-book fa-fw padIcon"></i>Recipes</h3>
    </div>
    <ul class="list-group scrollable-list little-recipe-list">
      <a href="#" class="list-group-item active">
        <h4 class="list-group-item-heading">Apple</h4>
        <p class="list-group-item-text">lorum ipsum poopsum</p>
      </a>
      <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">Orange</h4>
        <p class="list-group-item-text">lorum cripsum woooooo</p>
      </a>
      <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">Frosted Flakes</h4>
        <p class="list-group-item-text">Welcome to wheel of fortune</p>
      </a>
      <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">Lipton</h4>
        <p class="list-group-item-text">Hooo doggy</p>
      </a>
      <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">Coffee</h4>
        <p class="list-group-item-text">Welp welp welpw elwpewlep</p>
      </a>
      <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">Cool stuff</h4>
        <p class="list-group-item-text">hurry up im trying to</p>
      </a>
      <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">Steak</h4>
        <p class="list-group-item-text">Get in the slime get slimed</p>
      </a>
      <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">Grapes</h4>
        <p class="list-group-item-text">Grapes are for good eating!</p>
      </a>
      <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">Chicken</h4>
        <p class="list-group-item-text">What came first the chick or the egg heuuehhue</p>
      </a>
      <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">Kiwi</h4>
        <p class="list-group-item-text">Kiwi's are pretty crazy fruits</p>
      </a>
    </ul>
  </div>
</div>
<div class="half-section col-md-4" style="padding-right: 20px;">
  <div class="panel panel-default little-panel">
    <div class="panel-heading">
      <h3 class="panel-title"><i class="fa fa-file-text fa-fw padIcon"></i>View Recipe</h3>
    </div>

  </div>
</div>
<script type="text/javascript">
    // jQuery example
    $(document).ready(function () {
        //for setting active state to the list views
        $('.list-group.scrollable-list.little-recipe-list').find('a').on('click', function(e) {
            event.preventDefault();

            $('.scrollable-list.little-recipe-list a').removeClass('active');
            $(this).addClass('active');

            //initContainerHeight();
        });
    });
</script>