<% provide(:title, @user.name) %>
<div class="loginbut" style="text-align: center;">
  <%= link_to edit_user_path, id:"Edit user" do %>
      <i class="fa fa-pencil-square fa-fw space-icon-out" ></i>
      Update your account!
  <% end %>
</div>
<div class="row profile-bar"style="margin-left: 21.2%;">
  <aside class="span4">
    <section>
      <b><h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1></b>
    </section>
  </aside>
</div>

<%= render 'food_items/list' %>

<%= render 'food_items/view_food_item' %>

<script type="text/javascript">
    // jQuery example
    $(document).ready(function () {
        //for setting active state to the list views
       // $('.list-group.scrollable-list.little-food-list').find('a').addClass('active');
        $('.list-group.scrollable-list.little-food-list').find('a').on('click', function(e) {
            event.preventDefault();

            $('.scrollable-list.little-food-list a').removeClass('active');
            $(this).addClass('active');

            //for a selected item, the view food div should have the text of the selected item
            if($(this).hasClass('active')){
                $("#foodtext h2").text($(".for-food.active h4").text());
                $("#foodtext h4").text($(".for-food.active p").text());
            }


        });
    });
</script>
<div class="half-section col-md-4 little-margins" style="margin-left: 20%;">
  <div class="panel panel-default little-panel">
    <div class="panel-heading">
      <% if @user.recipes.any? %>
          <h3 class="panel-title"><i class="fa fa-cutlery fa-fw padIcon"></i>Recipes (<%= @user.recipes.count %>)</h3>
          </div>
          <ul class="list-group scrollable-list little-recipe-list">
            <% @user.recipes.each do |item| %>
                <%= render item %>
            <% end %>
          </ul>

      <% end %>
  </div>
</div>
<div class="half-section col-md-4" style="padding-right: 20px;">
  <div class="panel panel-default little-panel">
    <div class="panel-heading">
      <h3 class="panel-title"><i class="fa fa-file-text fa-fw padIcon"></i>View Recipe</h3>
    </div>
    <div id="show-recipe-little">
      <div class="col-md-2 recipe-image-box" style="margin: 10px 0px 0px 10px;">

      </div>
      <div id="recipetext" class="col-md-6">
        <%= render 'recipes/show', :locals => @user.recipes%>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
    // jQuery example
    $(document).ready(function () {
//        $("#recipetext h2").text($(".for-recipe.active h4").text());
//        $("#recipetext h4").text($(".for-recipe.active p").text());
        //for setting active state to the list views
        // $('.list-group.scrollable-list.little-food-list').find('a').addClass('active');
        $('.list-group.scrollable-list.little-recipe-list').find('a').on('click', function(e) {
            event.preventDefault();

            $('.scrollable-list.little-recipe-list a').removeClass('active');
            $(this).addClass('active');

            //for a selected item, the view food div should have the text of the selected item
            if($(this).hasClass('active')){
                $("#recipetext h2").text($(".for-recipe.active h4").text());
                $("#recipetext h4").text($(".for-recipe.active p").text());
            }


        });
    });
</script>
