<a href="" class="list-group-item for-food">
  <% timeLeft = (food_item.expiration_date - Date.today).to_i %>
  <%if timeLeft > 30 %>
      <span class="badge food-badge" style="background-color: #009900"><%=food_item.expiration_date%></span>
  <%elsif timeLeft > 7 && timeLeft <= 30 %>
      <span class="badge food-badge" style="background-color: #44AA00"><%=timeLeft%> days left!</span>
  <%elsif timeLeft <= 7 && timeLeft > 3 %>
      <span class="badge food-badge" style="background-color: #ddaa00"><%=timeLeft%> days left!</span>
  <%else%>
      <span class="badge food-badge" style="background-color: #990000"><%=timeLeft%> days left!</span>
  <%end%>
  <b><h4 class="list-group-item-heading <%= food_item.name %>"><%= food_item.name %> </h4></b>
  <p style="margin-bottom: 0px;"><%= food_item.description %></p>
</a>
