<% if @fooditem == nil || @fooditem.name == nil %>
    <span class="badge food-badge" style="float: right;"><%= %></span>
    <b><h2 style="text-align: left; margin: 10px 0px;"><%=  %></h2></b>
    <h4 style="text-align: left; margin: 10px 0px;"><%=  %></h4>
<%else%>
    <span class="badge food-badge"><%=food_item.expiration_date%></span>
    <b><h2 style="text-align: left; margin: 10px 0px;"><%= @fooditem %></h2></b>
    <h4 style="text-align: left; margin: 10px 0px;"><%= @fooditem.description %></h4>
<%end%>