<% if signed_in? %>
    <li>
      <%= link_to "#", id:"Sign In" do %>
          <i class="fa fa-user fa-fw space-icon-out" ></i>
          Signed in as <%= current_user.name %>
      <% end %>
    </li>
    <li>
      <%= link_to sign_out_path, id:"Sign In", method: :delete do %>
          <i class="fa fa-sign-out fa-fw space-icon-out" ></i>
          <%= I18n.t('layouts.application.sign_out') %>
      <% end %>
    </li>
<% else %>

    <li><%= link_to root_path, id:"Sign In" do %>
          <i class="fa fa-sign-in fa-fw space-icon-out" ></i>
          Sign In
      <% end %></li>
<% end %>