<!DOCTYPE html>
<html>
<head>


  <title><%= content_for?(:title) ? 'Smart Fridge | ' + yield(:title) : 'Smart Fridge' %></title>
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Raleway">

  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "https://js.stripe.com/v1/" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>

  <%= yield(:head) %>

</head>
<body>


<% flash.each do |name, msg| %>
    <% if msg.is_a?(String) %>
        <div class="alert alert-<%= name == :notice ? "error" : "success" %>">
          <a class="close" data-dismiss="alert">&#215;</a>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        </div>
    <% end %>
<% end %>
<div id="container">

  <%= render 'layouts/navbar' %>
  <%= content_tag :h1, yield(:title) if show_title? %>

  <%= yield %>
</div>
</body>
<%= debug(params) if Rails.env.development? %>
</html>
